* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
    background-color: #f7f7f7;
  }
  
  .container {
    display: flex;
    gap: 30px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .remember-me label {
    font-size: 14px;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  button {
    width: 20%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .subscribe {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .subscribe label {
    margin-left: 10px;
  }
  