body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.product-details {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.product-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-inner-left,
.container-inner-right {
    width: 45%;
    padding: 10px;
   
    border-radius: 5px;
}
h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
}
h3 {
    font-size: 18px;
    color: #333;
}
.step {
    margin: 20px 0;
}
.dots {
    display: flex;
    align-items: center;
}
.dots::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;
    display: inline-block;
    margin-right: 8px;
}
.product-details img.small-img {
width: 50px;  /* Adjust the size as needed */
height: auto;
margin: 10px; /* Add spacing if necessary */
}

.view-more-container {
    text-align: center;
    margin-top: 20px;
}
.view-more-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.view-more-btn:hover {
    background-color: #0056b3;
}
.more-info {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}